.widget {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  max-width: 575px;

  .heading {
    padding: 10px 6px;
    p {
      &.area-name {
        font-size: 2.5em;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.015em;
      }
      &.area-info {
        font-size: 0.875em;
        line-height: 1.3;
        letter-spacing: -0.02em;
      }
    }
    .current-weather {
      min-height: 72px;
      max-width: 415px;
      img {
        float: left;
      }
      .value {
        font-size: 2em;
        display: inline-block;
        padding-top: 4px;
        min-height: 48px;
        padding-left: 2px;
        color: #555355;
      }
      .degree-type {
        font-size: 0.8125em;
        vertical-align: top;
        float: right;
      }
      .more {
        line-height: 1.2;
        font-size: 15px;
        padding-right: 40px;
        float: right;
        span {
          padding-right: 4px;
        }
      }
    }
  }

  .days {
    padding: 10px 21px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    .day {
      .title {
        font-size: 13px;
        font-weight: 600;
      }
      text-align: center;
      .smaller {
        font-size: 0.85rem;
        color: #716f71;
      }
    }
  }

  .area-info,
  span {
    color: #716f71;
  }
  p {
    margin: 0;
    color: #353435;
    line-height: 1.15;
  }
}

@media all and (max-width: 515px) {
  .widget {
    .days {
      width: 100%;

      padding: 10px 0;
      flex-direction: column;
      .day {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #d7d6d7;
        .title {
          text-align: left;
          padding-left: 6px;
        }
        & > div {
          max-width: 25%;
          flex-basis: 25%;
          width: 100%;
        }
      }
    }
  }
}

@media all and (max-width: 350px) {
  .widget {
    .heading .current-weather .more {
      padding-right: 0;
      transition: .6s all;
    }
    select {
      width: 100%;
    }
    .days {
      .day {
        padding: 5px 0;
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}

@media all and (max-width: 250px) {
  .widget .heading {
    font-size: 13px;
    img {
      width: 35px;
      height: 35px;
    }
  }
}
