<div class="widget" *ngIf="!isLoading">
  <div class="heading">
    <p class="area-name">
      <select (change)="makeRequest($event.target.value)" style="border: 0;">
        <option *ngFor="let city of citiesData; trackBy:trackCityByFn" [value]="city.id"
          [selected]="city.id === currentCityId">{{ city.name }}
        </option>
      </select> </p>

    <ng-container *ngIf="currentDay">
      <p class="area-info">
        {{ currentDay.date | date: 'EEEE MMM dd' }}th
        <br />{{ currentDay.type }}
      </p>
      <div class="current-weather">
        <img src="../../assets/img/cloudy.png" alt="Cloudy weather">
        <span class="value">
          {{ currentDay.temperature }}
          <span class="degree-type">&deg;C</span>
        </span>

        <div class="more">
          <div>
            <span>Precipitation:</span>{{ currentDay.precipitation }}%
          </div>
          <div><span>Humidity:</span>{{currentDay.humidity}}%</div>
          <div><span>Wind:</span>{{ currentDay.windInfo.speed }} mph {{ currentDay.windInfo.direction }}</div>
          <div><span>Pollen Count:</span>{{ currentDay.pollenCount }}</div>
        </div>

      </div>
    </ng-container>

  </div>
  <div class="days">
    <div class="day" *ngFor="let day of weatherData; trackBy:trackByFn">
      <div class="title">
        {{ day.date | date: 'EEEE' }}
      </div>
      <div>
        <img [src]="imageURL + getWeatherImageName(day.type)" alt="">
      </div>
      <div style="font-size: 1.2em; font-weight: 600;">
        {{ day.temperature }}&deg;
      </div>
      <div class="smaller">
        <span>Pollen</span> {{ day.pollenCount }}
      </div>
    </div>
  </div>
</div>
