<div class="parent-container">


  <app-widget></app-widget>

  <div>
    <h1 >Widget page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut commodo nisl. Pellentesque ac erat urna.
      Suspendisse ut
      tempor ipsum, quis sollicitudin turpis. Curabitur ac dapibus nisi. In eget faucibus dui, et aliquam ligula. Nullam
      consectetur turpis lacus, eu eleifend ex venenatis pharetra. Integer luctus sollicitudin magna sit amet semper.
      Nunc
      varius, est id tincidunt egestas, enim justo facilisis nisl, nec finibus arcu quam ac ante.</p>
    <div _ngcontent-ami-c0="" class="copyright">© Copyright <a _ngcontent-ami-c0=""
        href="https://www.linkedin.com/in/dominik-szyja-b17111153/" target="_blank">Dominik Szyja</a></div>
  </div>


</div>
